.lang-rtl {
  * {
    direction: rtl !important;
  }
  main {
    text-align: right !important;
  }
}

html {
  @include media-breakpoint-down(sm) {
    font-size: 15px;
  }
  @include media-breakpoint-down(xs) {
    font-size: 14px;
  }
  a {
    outline: none;
  }
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 0;
}

h1,
.h1 {
  @include media-breakpoint-up(xl) {
    font-size: 3.75em;
    line-height: 1.1;
  }
}

h2,
.h2 {
  @include media-breakpoint-up(xl) {
    font-size: 2.25em;
    line-height: 1.3;
  }
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: $input-focus-box-shadow;
  }
}

.btn {
  text-transform: capitalize;
  letter-spacing: 0.06em;
  font-size: 14px;
  cursor: pointer;

  &.btn-sm {
    font-size: 10px;
  }
  &.btn-lg {
    font-size: 14px;
  }
}

.btn-primary {
  color: $white;

  @include hover-focus {
    color: $white;
  }
}

.right-space {
  margin-right: 0.4em;
}

ul {
  list-style: none;
  padding-left: 0;
  .list-default,
  &[class^='list-default-'],
  &[class*=' list-default-'] {
    li {
      margin-bottom: 12px;
      a {
        color: $gray-600;
        text-decoration: none;
        &:hover,
        &:focus {
          color: $gray-900;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.list-default-lg {
      li {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 26px;
      }
    }
    &.list-default-sm {
      li {
        padding-top: 1px;
        margin-bottom: 7px;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 0.06em;
      }
    }
    ul.list-default,
    ul[class^='list-default-'],
    ul[class*=' list-default-'] {
      margin-top: 12px;
    }
  }
  &.list-fa-marker {
    > li {
      display: flex;
      margin-bottom: 18px;
      > .fa {
        flex: 0 0 30px;
        font-size: 18px;
        color: $gray-900;
      }
    }
  }
}

.btn-link-primary {
  color: $brand-primary;
  @include hover-focus {
    color: $gray-900;
  }
}

.required {
  position: relative;
  padding-right: 15px;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    content: ' *';
    color: $brand-danger;
    font-size: 150%;
    line-height: 0.8;
  }
}

.icon-toggle {
  font-size: 25px;
  line-height: 1;
  color: $white;

  &:hover,
  &:focus {
    color: $gray-600;
  }
}

.form-control {
  font-size: 14px;

  &:focus {
    + .input-group-addon {
      background-color: $gray-300;
      transition: border-color ease-in-out 0.15s,
        background-color ease-in-out 0.15s;
    }
  }
}

.input-group-addon {
  i {
    pointer-events: none;
  }
}

// input:-webkit-autofill {
//   -webkit-box-shadow: 0 0 0 30px $input-bg inset;
//   -webkit-text-fill-color: $gray-600 !important;
// }

.form-control-comment {
  font-size: 12px;
  font-style: italic;
}

.form-group {
  &.has-error {
    input,
    select {
      border-color: theme-color('danger');
    }
    .help-block {
      color: $brand-danger;
    }
  }
}

.form-control-content label.custom-checkbox {
  margin: 0;
}

.custom-control {
  margin-bottom: 0;
  align-items: center;
}

.custom-select {
  width: 318px;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

.input-group {
  > .input-group-btn:not(:last-child) {
    margin-right: 7px;
    border: none;
  }

  > .input-group-btn:not(:first-child) {
    margin-left: 7px;
    border: none;
  }
  &.bootstrap-touchspin {
    max-width: 80px;
    .input-group-btn-vertical {
      display: flex;
      flex-direction: column;
      width: 20px;
      .btn {
        padding: 0;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.done {
  color: $brand-success;
  display: inline-block;
  padding: 0 0.8125rem;
  margin-right: 1.563rem;
}

.definition-list {
  dl {
    display: flex;
    flex-wrap: wrap;
    dt {
      font-weight: normal;
    }
    dd,
    dt {
      flex: 0 0 45%;
      background: $gray-200;
      padding: 0.625rem;
      margin: 0.125rem;
      &:nth-of-type(even) {
        background: $gray-100;
      }
    }
  }
}

.help-block {
  margin-top: $small-space;
}

.modal {
  padding: 0 !important;
  &.modal-close-inside .close,
  &.modal-close-outside .close {
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  &.modal-close-outside .close {
    top: -20px;
    right: -20px;
  }
}

.dropdown-item {
  &.current {
    @extend .dropdown-item.active;
  }
}

.popover {
  &.collapse,
  &.collapsing {
    width: 200px;
    top: 100%;
  }
  &.collapse:not(.show) {
    display: none;
  }
}

.separator-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;

  [data-toggle='dropdown'] {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  > *:not(:last-child) {
    padding-right: 15px;

    > * {
      display: inline-block;
    }

    &::after {
      content: '/';
      margin-left: 13px;
      display: inline-block;
      color: $white;
    }
  }
}

.universal-carousel {
  // overflow: hidden;

  .swiper-container {
    @extend .row;

    @include media-breakpoint-up(xl) {
      $slider-padding: 40px;
      padding: $slider-padding;

      margin-left: calc((-#{$grid-gutter-width}/ 2) - #{$slider-padding});
      margin-right: calc((-#{$grid-gutter-width}/ 2) - #{$slider-padding});

      &::before,
      &::after {
        content: '';
        z-index: 5;
        position: absolute;
        top: 0;
        display: block;
        height: 100%;
        width: 50px;
      }
      &::after {
        right: -23px;
        background-color: $body-bg;
      }
      &::before {
        left: -23px;
        background-color: $body-bg;
      }
    }

    &.swiper-without-controls {
      .swiper-button-disabled {
        display: none;
      }
      .swiper-pagination {
        display: none;
      }
    }
    .row {
      flex-wrap: nowrap !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      left: 20px;
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      right: 20px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    font-size: 20px;
  }
}

.variant-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3px;
  .custom-checkbox {
    padding: 0;
    width: 30px;
    height: 30px;
  }
  > a,
  > li {
    position: relative;
    margin: 0 3px 3px;
    display: block;
    input {
      position: absolute;
      top: 0;
      cursor: pointer;
      opacity: 0;
      width: 100%;
      height: 100%;
      &:checked + span,
      &:checked + .color.custom-control-indicator {
        border: 3px solid $gray-300;
        box-shadow: inset 0 0 0 4px white;
        color: $gray-900;
        background-image: none;
      }
    }
    &.color,
    .color {
      width: 20px;
      height: 20px;
      display: block;
      border: 1px solid $gray-300;
      box-shadow: inset 0 0 0 2px white;
      border-radius: 50%;
    }
    .radio-label {
      text-transform: uppercase;
      font-size: 10px;
      padding: 5px 15px;
      font-weight: 600;
      border: 1px solid $gray-200;
    }
  }
}

//product elements
.product-thumbnail {
  display: block;
  text-align: center;
  position: relative;
  a {
    display: block;
  }
  .close-product {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent $gray-400 transparent transparent;
    text-align: center;
    z-index: 1;
    opacity: 1;
    font-size: 1.3125rem;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 0.0625rem 0 #fff;
    &:hover,
    &:focus {
      color: $gray-900;
    }
    span,
    i {
      position: absolute;
      top: -3px;
      margin-right: -28px;
      right: 0;
      &.fa {
        font-size: 15px;
        line-height: 1.4;
      }
    }
  }
}

.product-title {
  color: $gray-900;
  font-weight: normal;
  text-transform: none;
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 2px;
  a {
    color: $gray-900;
    &:hover,
    &:focus {
      color: $brand-primary;
    }
  }
}

.product-flags {
  span {
    color: $white;

    &.discount {
      background: $pink;
    }
    &.new {
      background: $gray-900;
    }
    &.on-sale {
      background: $pink;
    }
    &.pack {
      background: $brand-warning;
    }

    &.unavailable {
      color: $gray-800;
    }
  }
}

*[class^='product-prices-'],
*[class*=' product-prices-'] {
  font-size: 14px;
  line-height: 29px;
  font-weight: bold;
  display: inline-flex;
  align-items: baseline;
  flex-wrap: wrap;

  @include media-breakpoint-up(lg) {
    padding: 15px 0;
  }

  .price {
    font-size: 16px;
    color: $gray-900;
  }

  .regular-price {
    text-decoration: line-through;
    color: $gray-600;
    order: 1;
  }
  .discount {
    color: $brand-danger;
    order: 2;
  }
  .daydeal-box {
    margin-top: 5px;
    margin-bottom: 20px;
    flex: 0 0 100%;
  }
  &.product-prices-lg {
    font-size: 20px;
    line-height: 30px;
    .price {
      font-size: 30px;
    }
  }
  &.product-prices-sm {
    font-size: 12px;
    line-height: 16px;
    .price {
      font-size: 16px;
    }
  }
  &.with-discount {
    .price,
    .regular-price {
      margin-right: 5px;
    }
    &.product-prices-lg {
      .price,
      .regular-price {
        margin-right: 10px;
      }
    }
  }
}

.product-buttons {
  .btn-link {
    line-height: 25px;
    color: $gray-600;
    font-size: 14px;

    i {
      font-size: 20px;
    }

    &:hover,
    &:focus {
      color: $gray-900;
    }
  }

  > * {
    margin-bottom: 0;
  }
}

//resize styles
div[id^='_mobile_']:empty {
  display: none;
}

div[id^='_mobile_']:not(:empty) {
  [class*='icon'] {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
  }
}

@include media-breakpoint-up(md) {
  div[id^='_mobile_'] {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  div[id^='_desktop_'] {
    display: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//megalayout style extensions
.row.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.text-underline {
  text-decoration: underline;
}

.divider-bottom {
  border-bottom: 2px solid $gray-500;
}

.font-family-custom {
  font-family: $font-family-monospace;
}

/* VueCarousel-pagination
   ========================================================================== */

.VueCarousel-pagination {
  position: absolute;
  top: -45px;
  right: 0;
  width: auto !important;
}

/* Image container
   ========================================================================== */
.images-container {
  position: relative;

  .product-images {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    img {
      margin-bottom: 10px;

      &.active {
        border: 1px solid $gray-800;
      }
    }
  }
}

/* fullscreen-v-img
   ========================================================================== */
.fullscreen-v-img {
  img {
    background-color: $gray-300;
  }
}

/* .vb
   ========================================================================== */

.vb {
  width: calc(100% + 4px);
}
/* Carousel images
   ========================================================================== */
.carousel {
  img {
    background-color: $gray-400;
  }
}
