.bg-dark {
  a {
    color: $gray-600;
    &:hover, &:focus {
      color: white;
    }
  }
  ul[class^="list-default-"] li a, ul[class*=" list-default-"] li a {
    &:hover, &:focus {
      color: white;
    }
  }
  h3 a, ul[class^="list-default-"] li .mail a, ul[class*=" list-default-"] li .mail a {
    color: white;
    &:hover, &:focus {
      color: $gray-600;
    }
  }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: white;
  }
  .form-control, .custom-select {
    background: rgba(white, 0);
    border-color: $gray-800;
    &:active, &:focus {
      color: white;
      border-color: white;
    }
  }
}

.bg-light {
  .form-control, .custom-select {
    border-color: $gray-800;
  }
  &.definition-list dl, .definition-list dl {
    dd,
    dt {
      background: white;
      &:nth-of-type(even) {
        background: $gray-100;
      }
    }
  }
}