//
// Color system
//
$white: #fff;
$gray-100: #fafafa;
$gray-200: #f6f6f6;
$gray-300: #eeeeee;
$gray-400: #dddddd;
$gray-500: #ababab;
$gray-600: #888888;
$gray-700: #555555;
$gray-800: #3a3a3a;
$gray-900: #141414;
$black: #000;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$blue: #223669;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #de6d6d;
$red: #dd0a14;
$orange: #feb380;
$yellow: #fdcf00;
$green: #7cd22f;
$teal: #32cfb0;
$cyan: #c5f2fd;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800,
  gray-darker: $gray-900,
  gray-light: $gray-200,
  gray-lighter: $gray-100
);

$theme-colors: (
  primary: $red,
  secondary: $blue,
  success: $green,
  info: $cyan,
  warning: $orange,
  danger: $pink,
  light: $gray-200,
  dark: $gray-900,
  white: $white
);
