//
// Color system
//
$white:  #fff !default;
$gray-100: #fafafa  !default;
$gray-200: #f8f8f8 !default;
$gray-300: #e8e8e8 !default;
$gray-400: #dddddd !default;
$gray-500: #b4b4b4 !default;
$gray-600: #888888 !default;
$gray-700: #555555 !default;
$gray-800: #3a3a3a !default;
$gray-900: #121212 !default;
$black:  #000 !default;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$blue:    #5d9cec !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #ff3366 !default;
$red:     #d05656 !default;
$orange:  #feb380 !default;
$yellow:  #fff1bc !default;
$green:   #75c435 !default;
$teal:    #20c997 !default;
$cyan:    #c5f2fd !default;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800,
  gray-darker: $gray-900,
  gray-light: $gray-200,
  gray-lighter: $gray-100
);

$theme-colors: (
  primary: $green,
  secondary: $gray-500,
  success: lighten($green, 10),
  info: $cyan,
  warning: $orange,
  danger: $pink,
  light: $gray-300,
  white: $white,
  dark: $gray-900
);