$body-background-color: #fefefe;

body {
  background: $body-background-color;
}

.product-list-thumb{
  top: 0;
  left: 0;
  height: 100%;


  img{
    max-width: 50px;
    margin-bottom: 0.25rem;
    border: 1px solid #ccc;
  }
}

.product-thumbnail{
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
  transition: all ease-out .3s;
}

.thumbnail-container{
  margin: -15px -15px 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}