.search_widget{
  position: relative;
  // flex-grow: 1;

  .form-control{
    flex-grow: 1;
    min-width: 300px;
  }
  .search-result{
    z-index: 1110;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: 100%;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;

    .carousel{
      max-width: 100px;
    }
    
    .slide{
      > [class*="carousel-control"]{
        // background-color: rgba(0,0,0,0.6);
      }
    } 
  }
}