.menu
  float left
  a, a:visited
    text-decoration none
    color text-color
    font-size 1.2em
    padding small-padding
    display block

  a:hover, li.current > a
  > ul > li // top level
    display inline-block
    vertical-align top

    > div
      border 1px solid border-color
      display none
      position absolute
      z-index 1337
      background-color white

      &:empty
        display none !important

    &:hover > div
      display block

  li
    list-style none

  ul
    margin 0
    &[data-depth="0"], &[data-depth="1"]
      padding 0px
