.product-images
  position absolute
  top 0
  left 0
  height: 100%

  img
    border 1px solid #ffffff
    margin-bottom 10px

    &.active
      border-color #000

.product-cover
  background-size: 150%